//# Uses //
@use './border' as border-radius;
@use './transition' as transition-time;

@mixin button-border($color) {
    border: 1px solid $color;
}

@mixin button-style($color: var(--color2)) {
    @include button-border($color);

    background-color: $color;
    border-radius: border-radius.$border-radius;

    transition: filter transition-time.$transition-time ease;
    
    &:hover {
        cursor: pointer;
        filter: brightness(90%);
    }
}